/* button{
  padding: 10px 70px;
  background-color: black;
  border-radius: 15px;
  color: rgb(254, 254, 254);
  border: none;
  position: relative;
  transition: 0.5s;
  
}

button:hover{
  background-color: rgb(59, 20, 52);
  transition: 0.5s;
  cursor: pointer;

}


button::after{
  content: "";
  position: absolute;
  height: 2px;
  background-color: black;
  width: 90%;
  top: 50px;
  left: 7px;
  transition: 0.5s;
}


button:hover::after{
  width: 0%;
  transition: 0.5s;
} */


button{
    padding: 9px 60px;
    background-color: rgb(194, 33, 33);
    border-radius: 50px;
    position: relative;
    color: white;
    border: none;
    transition: 0.5s;
    font-size: 90px;
    
}

button:hover{
    cursor: pointer;
    transition: 0.5s;
}

button::after{
    content: "";
    position: absolute;
    width: 50%;
    left: 50%;
    height: 100%;
    background-color: rgb(9, 11, 121);
    border-radius: 15px;
    top: 0px;
    transition: 0.5s;
    z-index: 100;
}

button:hover::after{
    width: 100%;
    left: 0;
    transition: 0.5s;
}

a{
  position: relative;
  color: white;
  z-index: 999;
  text-decoration: none;
}

.btn{
  padding: 9px 60px;
  background-color: rgb(194, 33, 33);
  border-radius: 50px;
  position: relative;
  color: white;
  border: none;
  transition: 0.5s;
  font-size: 90px;
}


.btn:hover{
  cursor: pointer;
  transition: 0.5s;
}

.btn::after{
  content: "";
  position: absolute;
  width: 50%;
  left: 50%;
  height: 100%;
  background-color: rgb(9, 11, 121);
  border-radius: 15px;
  top: 0px;
  transition: 0.5s;
  z-index: 100;
}

.btn:hover::after{
  width: 100%;
  left: 0;
  transition: 0.5s;
}